.navbar {
  position: fixed;
  top: 0;
  right: 0;
  height: 60px;
  width: 100%;
  background-color: rgba(42, 47, 51, .5);
  color: #fff;
  backdrop-filter: blur(4px);
  display: flex;
  transition: transform 0.3s ease-in-out;
  z-index: 10;
  display: inline;
  font-weight: 900;
}

@media (max-width: 500px) {
  .logo {
    display: none;
    background-color: red;
  }
}

.navbar ul {
  display: flex;
  list-style: none;
  margin: 0 4em 0 0;
  padding: 0;
  float: right;
}

.navbar li {
  padding: 1em;
  margin-right: 20px;
}

.navbar li:last-child {
  margin-right: 0;
}

.visible {
  transform: translateY(0);
}

.hidden {
  transform: translateY(-60px);
}